table {
  table-layout: fixed;
  width: 100%;
}

input {
  justify-content: flex-start;
  border: 0;
}

th {
  border: 2px black solid;
}

td {
  border: 1px black solid;
}

.checkbox {
  display: flex;
  justify-content: center;
  border: 0;
}

button {
  color: white;
  background-color: dodgerblue;
  border-radius: 5px;
}

.balance > th {
  border: 0;
  background-color: lightblue;
}

.totals > th {
  border: 0;
}

.totals > th {
  border: 0;
}

.button-container {
  border: 0;
}
